a {
  padding: 1.2rem 1rem;
  width: 98%;
  @include flexbox();
  @include align-items(center);
  .link-icon {
    margin-right: 1.5rem;
    font-size: 1.4rem;
    color: $almost-white;
  }
  .link-text {
    color: $almost-white;
    display: block;
    transition: 0.2s ease;
  }
}

.activeLink {
  transition: 0.2s ease;
  background-color: $almost-white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  i {
    color: $primary-purple;
  }
  .link-text {
    color: $black-text;
  }
  .counter {
    background-color: $primary-purple;
    color: white;
  }
}

.counter {
  color: $primary-purple;
  margin-left: 1rem;
  background-color: $almost-white;
  width: 35px;
  text-align: center;
  height: 20px;
  border-radius: 4px;
}

@include phone-medium-landscape {
  a {
    @include justify-content(flex-end);
    width: 100%;
    .link-text {
      order: 2;
    }
  }
  .activeLink {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .counter {
    margin-left: 0;
    margin-right: 1rem;
    order: 1;
  }
}
