.user-account {
  @include align-items(center);
  display: grid;
  grid-template-areas:
    ". img ."
    "name img ."
    ". img logout";
  grid-gap: 0.4rem;
  @include phone-medium-landscape {
    grid-template-areas:
      "img . ."
      "img name name"
      "img logout logout";
    grid-row-gap: 0.2rem;
  }
  img {
    grid-area: img;
    width: 45px;
    height: 45px;
    border: 1px solid rgb(255, 0, 255);
    border-radius: 50%;
    @include phone-medium-landscape {
      width: 55px;
      height: 55px;
    }
  }
  .user-name {
    grid-area: name;
    color: $gray-dark;
    @include phone-medium-portrait {
      font-size: 0.9rem;
    }
    @include phone-small-portrait {
      width: 120px;
      line-height: 1;
    }
  }
  .login-button,
  .logout-button {
    grid-area: logout;
    font-family: "Montserrat";
    color: $gray-dark;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    @include flexbox();
    @include align-items(center);
  }
}

//When waiting for authorization response => spin defaultUserImage

.animate-spin {
  animation: spin 1.5s infinite ease;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
