$primary-purple: rgb(197, 0, 231);
$primary-purple-hover: rgb(176, 0, 208);
$almost-white: #f0f0f0;
$black-text: #2f2f2f;
$gray-dark: rgb(66, 66, 66);
$gray-light: rgb(164, 164, 164);
$border-gray-light: rgb(202, 202, 202);
$orange: rgb(255, 175, 25);
$home-box-border-radius: 4px;
