.book-info-inner {
  @include flex-direction(column);
  display: none; //Add 'display:flex' on hover 'Book'
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0.8rem;
  @include prevent-text-select();
  .author-inner,
  .pages-and-year-inner,
  .category-and-rate-inner,
  .description-inner {
    margin-top: 0.5rem;
    @include phone-medium-portrait {
      margin-top: 0.3rem;
    }
  }
  .title-inner,
  .category-inner {
    color: $almost-white;
    text-transform: capitalize;
  }
  .author-inner,
  .pages-and-year-inner {
    color: rgb(187, 187, 187);
    font-size: 0.8rem;
    @include phone-medium-portrait {
      font-size: 0.7rem;
    }
  }
  .title-inner {
    font-size: 1.4rem;
    @include phone-medium-portrait {
      font-size: 1rem;
    }
  }
  .category-and-rate-inner {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    .category-inner {
      font-size: 1rem;
      @include phone-medium-portrait {
        font-size: 0.8rem;
      }
    }
    .rate-inner {
      color: $almost-white;
      font-size: 0.8rem;
      white-space: nowrap;
      @include phone-medium-portrait {
        font-size: 0.7rem;
      }
    }
  }
  .pages-and-year-inner {
    @include flexbox();
    @include justify-content(space-between);
    i {
      margin-right: 5px;
    }
  }
  .description-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50%;
    margin-bottom: 0.5rem;
    color: rgb(230, 230, 230);
    font-size: 0.9rem;
    line-height: 1.3;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    @include phone-medium-portrait {
      font-size: 0.7rem;
    }
  }

  //----BUTTONS----

  .book-btns-inner {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    position: relative;
    margin-top: auto; //push buttons to the bottom
    .btn-add,
    .btn-preview {
      color: white; //For IE
      background: linear-gradient(45deg, black 50%, white 50%);
      &:after {
        background: linear-gradient(45deg, white 50%, transparent 50%);
      }
      &:hover {
        color: black; //For IE
      }
    }
    .btn-remove {
      color: red; //For IE
      background: linear-gradient(45deg, white 50%, red 50%);
      &:after {
        background: linear-gradient(45deg, red 50%, transparent 50%);
      }
      &:hover {
        color: white; //For IE
      }
    }
    .btn-add,
    .btn-remove,
    .btn-preview {
      height: 100%;
      position: relative;
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
      cursor: pointer;
      border: 1px solid white;
      -webkit-background-clip: text;
      transition: 0.5s;
      background-size: 300%;
      background-position: 100%;
      visibility: hidden;
      @include phone-medium-portrait {
        font-size: 0.7rem;
        padding: 0.3rem 0.6rem;
      }
      @include phone-iphoneX {
        padding: 0.2rem 0.4rem;
      }
      &:focus {
        outline: none;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -0.5px;
        right: 0;
        z-index: -1;
        transition: 0.5s;
        background-size: 300%;
        background-position: 100%;
      }
      &:hover {
        background-position: 0;
        border-color: rgba(0, 0, 0, 0);
      }
      &:hover:after {
        background-position: 0;
      }
    }
  }
}

.log-in-warning {
  //add warning -log in to add-
  transition: 2s;
  position: absolute;
  top: -1.3rem;
  right: 0;
  white-space: nowrap;
  background: $orange;
  font-family: "Montserrat";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include phone-iphoneX {
    top: -1rem;
    right: -0.3rem;
  }
}
