.my-network {
  @include home-grid-box();
  @include flexbox-all(row, center, center);
  grid-area: network;
  border-radius: 4px;
  &:before {
    @include home-text-above-box("My network");
  }
  @include tablet-landscape {
    @include justify-content(space-evenly);
  }
  & div {
    @include flexbox-all(column, center, center);
    padding: 0.4rem 1rem;
    &:nth-child(2) {
      border-right: 1px solid $border-gray-light;
      border-left: 1px solid $border-gray-light;
      @include tablet-landscape {
        padding: 0.4rem 5rem;
      }
      @include tablet {
        padding: 0.4rem 2.6rem;
      }
      @include phone-iphoneX {
        padding: 0.4rem 1.6rem;
      }
      @include phone-small-portrait {
        padding: 0.4rem 0.6rem;
      }
    }
    span {
      color: $black-text;
      font-weight: bold;
      margin-bottom: 2px;
    }
    p {
      color: $gray-light;
    }
  }
}
